<h4>Formularios <small>template</small></h4>
<hr />
<form [formGroup]="forma"
  (ngSubmit)="guardarCambios(forma)"
  novalidate
  autocomplete="off">
  <div formGroupName="nombreCompleto">
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
          [ngClass]="{
            'is-invalid':
              forma.get('nombreCompleto.nombre').invalid &&
              (forma.get('nombreCompleto.nombre').dirty ||
                forma.get('nombreCompleto.nombre').touched),
            'is-valid': forma.get('nombreCompleto.nombre').valid
          }"
          name="nombre"
          type="text"
          placeholder="nombre"
          formControlName="nombre"
          required />
        <div *ngIf="
            forma.get('nombreCompleto.nombre').invalid &&
            (forma.get('nombreCompleto.nombre').dirty ||
              forma.get('nombreCompleto.nombre').touched)
          ">
          <div *ngIf="forma.get('nombreCompleto.nombre').errors?.minlength">
            Mínimo caracteres
          </div>
          <div *ngIf="forma.get('nombreCompleto.nombre').errors?.required">
            El campo no puede estar vacio
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
          [ngClass]="{
            'is-invalid':
              forma.get('nombreCompleto.apellido').invalid &&
              (forma.get('nombreCompleto.apellido').dirty ||
                forma.get('nombreCompleto.apellido').touched),
            'is-valid': forma.get('nombreCompleto.apellido').valid
          }"
          name="apellido"
          type="text"
          placeholder="Apellido"
          formControlName="apellido"
          required />
        <div *ngIf="
            forma.get('nombreCompleto.apellido').invalid &&
            (forma.get('nombreCompleto.apellido').dirty ||
              forma.get('nombreCompleto.apellido').touched)
          ">
          <div *ngIf="forma.get('nombreCompleto.apellido').errors?.minlength">
            Mínimo caracteres
          </div>
          <div *ngIf="forma.get('nombreCompleto.apellido').errors?.required">
            El campo no puede estar vacio
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input class="form-control"
        name="correo"
        type="text"
        placeholder="Correo"
        formControlName="correo"
        required
        [ngClass]="{
          'is-invalid':
            forma.controls.correo.invalid &&
            (forma.controls.correo.dirty || forma.controls.correo.touched),
          'is-valid': forma.controls.correo.valid
        }" />
      <div *ngIf="
          forma.controls.correo.invalid &&
          (forma.controls.correo.dirty || forma.controls.correo.touched)
        ">
        <div *ngIf="forma.controls.correo.errors?.minlength">
          Mínimo caracteres
        </div>
        <div *ngIf="forma.controls.correo.errors?.required">
          El campo no puede estar vacio
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="form-group row">
    <label class="col-2 col-form-label">Pasatiempos</label>
    <div class="col-8 form-row" formArrayName="pasatiempos">
      <input *ngFor="let pasatiempo of forma.controls['pasatiempos'].controls; let i=index" class="form-control" type="text"
        [formControlName]="i">
    </div>
    <button type="button" class="btn btn-primary" (click)="agregarPasatiempos($event)">Agregar</button>
  </div> -->


  <!-- <div class="form-group row">
    <label class="col-2 col-form-label">Password</label>
    <div class="col-8 form-row">
      <input class="form-control" type="text" placeholder="Password" formControlName="password1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repetir password</label>
    <div class="col-8 form-row">
      <input class="form-control" type="text" placeholder="Repetir password" formControlName="password2">
    </div>
  </div>

  <pre>Password equal: {{forma.valid | json}}</pre> -->

  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre de usuario</label>
    <div class="col-8 form-row">
      <input class="form-control"
        type="text"
        placeholder="Usuario"
        formControlName="username">
    </div>
    <div>
      <p>Formulario valido: {{forma.valid | json}}</p>
      <p>Formulario estatus: {{forma.status}}</p>
    </div>
  </div>
  <!-- <div class="form-group row">

    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select [(ngModel)]="usuario.pais" class="form-control" name="pais" required>
        <option value="">Seleccione un Pais</option>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
      </select>
    </div>
  </div> -->

  <!-- <div class="form-group row">
    <label class="col-2 row-form-label">Género</label>
    <div *ngFor="let genero of generos" class="col-3">
      <input [(ngModel)]="usuario.genero" type="radio" name="genero" [value]="genero" required> {{genero}}
    </div>
  </div> -->

  <!-- <div class="form-group row">
    <label class="col-2 row-form-label">Condiciones</label>
    <input [(ngModel)]="usuario.acepta" class="custom-control" type="checkbox" name="acepta" [value]="true" required>Acepta las
    condiciones
  </div> -->

  <div class="form-group row">
    <div class="input-group col-md-8">
      <button type="submit"
        [disabled]="forma.status === 'INVALID' || forma.status === 'PENDING'"
        class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>
</form>
